<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("template/head", {tituloWeb: "Cuentas Compartidas"}) %>
    <link rel="stylesheet" href="./Styles/cuentasCompartidas.css">
</head>
<body>
    <%- include("template/navbar") %>

    <main class="main-container">
        <h1 class="text-center">¿Qué es una cuenta compartida?</h1>
        <p class="paragraph">Una <u>cuenta compartida</u> para Xbox One y Xbox Series S/X es una suscripción que permite a múltiples usuarios acceder
            al mismo contenido de juego. En esencia, proporciona acceso a una biblioteca de juegos específica sin necesidad
            de adquirirlos individualmente.</p>
        <h2 class="text-center">Características de nuestras cuentas compartidas PREMIUM:</h2>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item list-group-item-success">Acceso permanente a la cuenta, aunque la viabilidad del método
                para jugar puede variar
                según las políticas de Microsoft. Si el método de acceso deja de funcionar, nos esforzamos por proporcionar uno
                nuevo para garantizar la continuidad del servicio.</li>
            <li class="list-group-item list-group-item-warning">Garantía de reemplazo: en caso de que la cuenta se caiga,
                proporcionamos acceso a una
                nueva sin costo adicional. Si no tenemos más cuentas disponibles para el mismo juego, ofrecemos cambiarla por
                otra.</li>
            <li class="list-group-item">Las cuentas son compartidas entre varios usuarios simultáneamente, pero cada cuenta
                tiene un número limitado de usuarios para evitar la saturación.</li>
            <li class="list-group-item list-group-item-warning">En la mayoría de los casos, una cuenta compartida no permite
                acceder
                a elementos especiales como monedas, aspectos de personajes, armas, etc., en la cuenta personal.</li>
            <li class="list-group-item">Los juegos son originales y completos.</li>
            <li class="list-group-item list-group-item-warning">No vendemos cuentas saturadas; estamos constantemente generando
                nuevas cuentas y
                limitamos
                el número de personas que pueden acceder a cada una.</li>
            <li class="list-group-item">Es necesario tener Xbox Live para jugar en línea, así como una conexión a internet
                constante.</li>
            <li class="list-group-item">Ofrecemos asistencia durante todo el proceso de agregado de la cuenta, descarga del
                juego y métodos de juego mediante material de video instructivo.</li>
            <li class="list-group-item">Nuestro método es aplicable para cuentas compartidas con control parental, pero debe
                repetirse cada vez que se reinicie o apague la consola.</li>
            <li class="list-group-item">Después de aplicar el método, puedes jugar con tu propio perfil y obtener logros en él.</li>
            <li class="list-group-item list-group-item-warning">Solo se realiza un pago único por la cuenta, y esta está
                vinculada a una sola consola
                con un solo acceso.</li>
            <li class="list-group-item">Puedes borrar y volver a descargar los juegos, pero no se puede eliminar la cuenta ya
                que se necesita para acceder al contenido.</li>
            <li class="list-group-item">Algunas veces por motivos externos de actualizaciones, puede que algunos juegos se salgan.</li>
        </ol>
        <h4 class="text-center">Nuestras cuentas son completamente legales y seguras, proporcionando una opción conveniente y económica para
            disfrutar de una amplia variedad de juegos en tu consola Xbox.</h4>
        
        <%- include("template/whatsapp") %>
    </main>

    <%- include("template/footer") %>
</body>
</html>