<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuentas Principales y Secundarias</title>
    <link rel="stylesheet" href="../Library/Bootstrap-5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Styles/cuentasPrincipalesSecundarias.css">
</head>
<body>
    <main class="main-container">
        <div class="categorias-container">
            <h1 class="text-center">Categorías de Cuentas</h1>
            <p class="text-center">Ofrecemos dos categorías de cuentas para satisfacer tus necesidades: las cuentas <u>principales</u> y 
                <u>secundarias</u>.</p>
        </div>

        <div class="disponible-container">
            <h2 class="text-center">Disponibilidad de Juegos</h2>
            <p>En nuestra plataforma, los juegos de PS5 están disponibles en la categoría <u>principal</u>, mientras que los de
                PS4 pueden encontrarse
                tanto en la categoría <u>principal</u> como en la <u>secundaria</u>.</p>
        </div>
        
        <div class="funciones-container">
            <h2 class="text-center">Funcionamiento de las Cuentas:</h2>
            <ul>
                <li><strong>Cuenta principal:</strong> Al adquirir esta cuenta, se crea un nuevo usuario en tu consola con
                    acceso al juego o suscripción deseada. Después de descargarlo, puedes disfrutar del juego en tu cuenta
                    personal, acumulando logros y progresando en el mismo.</li>
                <li><strong>Cuenta secundaria:</strong> Con esta opción, también se genera un nuevo usuario en tu consola con
                    acceso al juego adquirido. Sin embargo, es importante destacar que el progreso y los logros obtenidos no se
                    guardarán en tu cuenta personal, sino en la cuenta proporcionada.</li>
            </ul>
        </div>

        <div class="nota-container">
            <h2 class="text-center">Características y condiciones</h2>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">
                    Acceso al juego en línea (requiere membresía PsPlus).
                </li>
                <li class="list-group-item">
                    Único pago inicial, sin costos ocultos ni suscripciones adicionales. La cuenta está destinada exclusivamente
                    para una sola
                    consola.
                </li>
                <li class="list-group-item list-group-item-warning">
                    La cuenta no puede ser eliminada o cerrada por completo, ya que se requiere para descargas y sesiones de
                    juego. En caso de
                    eliminarla, será necesario adquirirla nuevamente para su reposición.
                </li>
                <li class="list-group-item">
                    Tiempo de entrega: El tiempo de entrega puede variar dependiendo del volumen de pedidos que recibamos. Sin
                    embargo, nos
                    comprometemos a procesar tu solicitud en un plazo aproximado de 1 a 4 horas después de confirmar tu pago.
                </li>
            </ol>
        </div>
        
        <h4 class="text-center">Por último, aunque no contamos con un catálogo específico debido a la fluctuación constante de precios y disponibilidad, estamos 
            aquí para atender tus necesidades personalizadas. No dudes en consultarnos sobre los juegos o suscripciones que te interesen, 
            con gusto te proporcionaremos una cotización ajustada a tus requerimientos.</h4>
    </main>

    <script src="./Library/Bootstrap-5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>