*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #06120d, #133d2a, #206748, #2c9266, #46e7a1);
    background: -webkit-radial-gradient(45deg, #06120d, #133d2a, #206748, #2c9266, #46e7a1);
    background: -moz-radial-gradient(45deg, #06120d, #133d2a, #206748, #2c9266, #46e7a1);
    background: -o-radial-gradient(45deg, #06120d, #133d2a, #206748, #2c9266, #46e7a1);
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.intro-container {
    padding: 10px;
}

.intro-container h1 {
    margin: 40px 20px;
}

.intro-container p {
    margin: 25px 0;
    padding: 0 60px;
    font-size: 20px;
}

.intro-container a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    color: #107B10;
}

.intro-container a:hover {
    color: #107B10;
    text-shadow: 
        0 0 10px #107B10,
        0 0 20px #107B10,
        0 0 40px #107B10,
        0 0 80px #107B10,
        0 0 120px #107B10;
}

.intro-container p span {
    font-size: 13px;
}


/* Tarjetas */


/* Paginacion */

.paginacion {
    text-align: center;
    margin: 50px 30px 60px;
    user-select: none;
}

.paginacion .page-item {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 50%);
    border: transparent;
}

.paginacion .page-item:not(.active):hover {
    background-color: #107B10; 
}

.paginacion .page-item .page-link {
    color: #fff;
    font-size: 1em;
    line-height: 45px;
    text-decoration: none;
}

.previous-page, .next-page {
    background: #107C10;
    border-radius: 45px;
    transition: 0.3s ease;
    width: 80px;
    cursor: pointer;
}

.previous-page:hover {
    transform: translateX(-5px);
}

.next-page:hover {
    transform: translateX(5px);
}

.current-page, .dots {
    background: #CCC;
    width: 45px;
    border-radius: 50%;
}

.active {
    background: #107C10;
}

.disable {
    background: #CCC;
}

