.list-redes li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-unstyled li a {
    text-decoration: none;
    color: #ccc;
}

.list-unstyled li a:hover {
    color: #FFD700;
}

.fb, .in, .yt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 180px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.1);
}

.list-redes li i {
    display: flex;
}

.fb {
    background: rgb(0, 81, 255);
}

.in {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.yt {
    background: rgb(255, 0, 0);
}

.list-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #cccc;
}

.copy-container a {
    text-decoration: none;
}


@media (min-width: 576px) {
    /* footer */
    .div-containers {
        padding: 10px 0;
    }
}

@media (min-width: 768px) {
    /* footer */
    .div-containers {
        padding: 10px 15px;
    }
}

@media (min-width: 992px) {
    /* footer */
    .div-containers {
        padding: 10px 7px;
        font-size: 14px;
    }

    .contacto-container ul li p {
        margin-bottom: 40px;
    }

    .contacto-container .correo {
        font-size: 13px;
    }
}

@media (min-width: 1200px) {
    /* footer */
    .div-containers {
        padding: 0 15px;
        font-size: 16px;
    }

    .contacto-container ul li p {
        margin-bottom: 35px;
    }

    .contacto-container .correo {
        font-size: 15px;
    }
}