<footer class="bg-dark text-center text-lg-start text-white">
    <div class="container p-4">
        <div class="row my-3">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-3 div-containers">
                <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                    style="width: 150px; height: 150px;">
                    <img src="/Styles/Images/Logo/logo.svg" height="70"
                        alt="Imagen Logo" loading="lazy" />
                </div>

                <p class="text-center"><b>JuegosITAWA</b> <br> Donde la diversión y la seguridad van de la mano</p>

                <ul class="list-unstyled d-flex flex-row justify-content-center">
                    <li>
                        <a class="text-white px-2" href="https://www.facebook.com/profile.php?id=61558064468391&mibextid=ZbWKwL">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white px-2" href="https://www.instagram.com/juegosdigitales_itawa/">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white ps-2" href="#!">
                            <i class="bi bi-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-3 text-center div-containers">
                <h5 class="text-uppercase mb-4">Enlaces Utiles</h5>

                <ul class="list-unstyled">
                    <li class="mb-3">
                        <a href="/">Inicio</a>
                    </li>
                    <li class="mb-3">
                        <a href="/catalogo=xbox">Catálogo Xbox</a>
                    </li>
                    <li class="mb-3">
                        <a href="/catalogo=playstation">Catálogo PlayStation</a>
                    </li>
                    <li class="mb-3">
                        <a href="/cuentas-compartidas">Cuentas Compartidas</a>
                    </li>
                    <li class="mb-3">
                        <a href="/cuentas-principales-secundarias">Cuentas Principales y Secundarias</a>
                    </li>
                    <li class="mb-3">
                        <a href="/#intro">Acerca de nosotros</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-3 text-center div-containers">
                <h5 class="text-uppercase mb-4">Siguenos</h5>

                <ul class="list-unstyled list-redes">
                    <li class="mb-4">
                        <a href="https://www.facebook.com/profile.php?id=61558064468391&mibextid=ZbWKwL" class="text-white"><span class="fb"><i class="bi bi-facebook"></i> Facebook</span></a>
                    </li>
                    <li class="mb-4">
                        <a href="https://www.instagram.com/juegosdigitales_itawa/" class="text-white"><span class="in"><i class="bi bi-instagram"></i> Instagram</span></a>
                    </li>
                    <li class="mb-4">
                        <a href="#!" class="text-white"><span class="yt"><i class="bi bi-youtube"></i> YouTube</span></a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-3 text-center div-containers contacto-container">
                <h5 class="text-uppercase mb-4">Contacto</h5>

                <ul class="list-unstyled list-contacto">
                    <li>
                        <p><i class="bi bi-geo-alt-fill pe-2"></i>Manizales, Caldas, Colombia</p>
                    </li>
                    <li>
                        <p><i class="bi bi-telephone-forward-fill pe-2"></i><a href="https://api.whatsapp.com/send/?phone=3108509567" target="_blank">3108509567</a></p>
                    </li>
                    <li>
                        <p class="correo"><i class="bi bi-envelope-at-fill pe-2 mb-0"></i><a href="mailto:ventas@juegositawa.com">ventas@juegositawa.com</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-3 copy-container" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <a class="text-white" href="/">JuegosITAWA</a>
    </div>
</footer>

<script src="./Library/Bootstrap-5.3.3/js/bootstrap.bundle.min.js"></script>