*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background: linear-gradient(45deg, #06120d, #133d2a, #206748, #2c9266, #46e7a1);
    background: -webkit-radial-gradient(45deg, #06120d, #133d2a, #206748, #2c9266, #46e7a1);
    background: -moz-radial-gradient(45deg, #06120d, #133d2a, #206748, #2c9266, #46e7a1);
    background: -o-radial-gradient(45deg, #06120d, #133d2a, #206748, #2c9266, #46e7a1);
    background-repeat: no-repeat;
    background-size: cover; */

body {
    background: linear-gradient(45deg, #06120d, #133d2a, #206748, #2c9266, #46e7a1);
    background: -webkit-radial-gradient(45deg, #06120d, #133d2a, #206748, #2c9266, #46e7a1);
    background: -moz-radial-gradient(45deg, #06120d, #133d2a, #206748, #2c9266, #46e7a1);
    background: -o-radial-gradient(45deg, #06120d, #133d2a, #206748, #2c9266, #46e7a1);

}

.intro-container h1 {
    margin: 15px auto 30px;
}

.intro-container p {
    margin-bottom: 15px;
    font-size: 20px;
}

.intro-container a {
    text-decoration: none;
    background: linear-gradient(to right, #ff0000, #00ff00, #0000ff); /* Define un gradiente como fondo */
    -webkit-background-clip: text; /* Indica que el fondo se aplique solo al texto */
    background-clip: text; /* Para navegadores que no soportan la versión con prefijo -webkit- */
    color: transparent; /* Hace que el color del texto sea transparente */
    animation: snakeColorMove 5s linear infinite; /* Define la animación para mover el color */
}

@keyframes snakeColorMove {
    0% {
        -webkit-text-fill-color: #045c04; /* Color inicial del texto */
        background-position: 0%; /* Mueve el gradiente a la izquierda */
    }
    50% {
        -webkit-text-fill-color: #00ff00; /* Color intermedio del texto */
        background-position: 50%; /* Mueve el gradiente al centro */
    }
    100% {
        -webkit-text-fill-color: #1af33e; /* Color final del texto */
        background-position: 100%; /* Mueve el gradiente a la derecha */
    }
}

/* .intro-container a:hover {
    color: green;
} */

/* Tarjetas */

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    /* background: linear-gradient(45deg, #06120d, #133d2a, #206748, #2c9266, #46e7a1); */
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    background: transparent;
    border: none;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .card .front h3 {
    position: absolute;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
} */

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 12px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* text-align: center; */
    box-shadow: 0 5px 10px #000;
}

.card .back h3 {
    margin: 2px auto 7px auto;
    text-align: center;
}

.card .back iframe {
    /* margin: 15px auto; */
    margin-bottom: 10px;
}

.card .back li {
    margin-bottom: 10px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/* Paginacion */

.paginacion {
    text-align: center;
    /* padding: 5px 0; */
    margin: 50px 30px 60px;
    user-select: none;
}

.paginacion .page-item {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 50%);
    border: transparent;
}

.paginacion .page-item:not(.active):hover {
    background-color: gray; 
}


.paginacion .page-item .page-link {
    color: #fff;
    font-size: 1.2em;
    line-height: 45px;
    text-decoration: none;
}

.previous-page, .next-page {
    background: #0AB1CF;
    border-radius: 45px;
    transition: 0.3s ease;
    width: 80px;
    cursor: pointer;
}

.previous-page:hover {
    transform: translateX(-5px);
}

.next-page:hover {
    transform: translateX(5px);
}

.current-page, .dots {
    background: #CCC;
    width: 45px;
    border-radius: 50%;
}

.active {
    background: #0AB1CF;
}

.disable {
    background: #CCC;
}

