*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Barra de navegacion */

.navbar {
    background-color: #ffff;
}

.container-fluid {
    padding: 0 20px;
}

.navbar-brand img {
    background: transparent;
    margin-left: 15px;
    transform: scale(1.9);
}

.navbar-nav {
    text-align: center;
}

.navbar-nav .nav-item .nav-link {
    padding: 8px 15px;
    color: #555;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: rgba(19, 18, 18, 0.8); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    border-radius: 2px;
}

.dropdown-menu {
    /* background-color: #333333; */
    background-color: black;
}

.dropdown-divider {
    background: wheat;
}

.dropdown-item {
    color: #ffff;
}

.dropdown-xbox:hover {
    background-color: #107B10;
}

.dropdown-play:hover {
    background-color: #0070D1;
}

.buscador button {
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    padding: 6px 12px;
    border: none;
    color: azure;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

.buscador button:hover {
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.buscador input {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: #f9f9f9;
    color: red;
}

.buscador input:hover,
.buscador input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada al pasar el cursor o enfocar */
}

.buscador input:focus {
    border-color: #1b3553; 
    border-width: 2px; 
}

/* Main */

.main-container {
    background-color: #1a1a1a;
    color: #ffffff;
    min-height: 100vh;
}

/* Carrusel */

.carousel-inner {
    display: flex;
}

.carousel-item {
    min-height: 400px;
}

.carousel-item img {
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
}

.carousel-caption p {
    margin: 10px auto;
    font-size: 18px;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* Introduccion */

.introduction {
    margin: 0 auto;
    padding: 2rem;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    text-align: justify;
    line-height: 1.6;
    animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.introduction h1 {
    color: #ffcc00; 
    font-size: 1.5rem;
    margin-bottom: 1rem;
    animation: blink 5s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.introduction p {
    font-size: 16px;
    margin: 0px 30px 20px 30px;
}

.introduction h3 {
    color: #ff5555; 
    font-size: 1rem;
    margin-top: 2rem;
    position: relative;
}

.introduction h3::before {
    content: '>';
    position: absolute;
    left: -10px;
    animation: blink 1s infinite;
}

/* Xbox - PlayStation */

.xbox-container {
    background-color: #107B10;
    width: 100%;
    padding: 30px 10px;
    animation: fadeIn 1.5s ease-out;
}

.playstation-container {
    background-color: #0070D1;
    width: 100%;
    padding: 30px 10px;
    animation: fadeIn 1.5s ease-out;
}

.video-xbox, .video-playstation {
    padding: 20px 50px;
    margin-bottom: 35px;
}

.video-xbox h2, .video-playstation h2 {
    margin-bottom: 25px;
    /* font-size: 25px; */
}

.video-xbox iframe, .video-playstation iframe {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

.games-xbox, .games-playstation {
    padding: 0px 25px 15px 25px;
}

.games-xbox h2, .games-playstation h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}


/* Tarjetas */

.row .card {
    height: 650px;
    padding: 5px;
    margin-bottom: 30px;
    /* background-color: #333333; */
    color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.row .card-xbox {
    background-color: rgb(3, 31, 3);
}

.row .card-play {
    background-color: rgb(9, 9, 51);
}

.card img {
    width: 100%;
    height: 250px;
    border-bottom: 2px solid #f1eded;
    object-fit: cover;
}

.card-body {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 20px;
    font-style: italic;
    color: #f0f0f0;
}

.card-text {
    font-size: 13px;
    color: #dddddd; 
    text-align: center;
}

.games-xbox a, .games-playstation a {
    margin-top: 10px;
    padding: 10px 100px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
}

.games-xbox a:hover, .games-playstation a:hover {
    animation-name: swing;
        -webkit-animation-name: swing;
        -moz-animation-name: swing;
    animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
}

    @keyframes swing {
        20% {transform: rotate3d(0, 0, 1, 15deg);}
        40% {transform: rotate3d(0, 0, 1, -10deg);}
        60% {transform: rotate3d(0, 0, 1, 5deg);}
        80% {transform: rotate3d(0, 0, 1, -5deg);}
        to  {transform: rotate3d(0, 0, 1, 0deg);}
    }

/* Whatsapp para contacto */

.whatsapp {
    position: fixed;
    bottom: 20px;
    right:30px;
    background-color: rgb(71, 247, 71);
    border-radius: 20px;
}

.whatsapp a {
    color:green;
    font-weight: bold;
    padding: 1rem;
}

.whatsapp a svg {
    width: 40px;
    color:green;
    filter: drop-shadow(0 1px 4px green);
}

.tooltip {
    visibility: hidden;
    width: 100px;
    background-color: rgb(4, 73, 4);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -50px; 
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(4, 73, 4) transparent transparent transparent;
}

.whatsapp:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* footer */

.list-redes li {
    display: flex;
    justify-content: center;
}

.list-unstyled li a {
    text-decoration: none;
    color: #ccc;
}

.list-unstyled li a:hover {
    color: #FFD700;
}

.fb, .in, .yt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 180px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.1);
}

.list-redes li i {
    display: flex;
}

.fb {
    background: rgb(0, 81, 255);
}

.in {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.yt {
    background: rgb(255, 0, 0);
}

.list-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #cccc;
}

.copy-container a {
    text-decoration: none;
}


/* Breakpoints para responsive */

@media (min-width: 576px) {
    /* nav */
    .navbar-nav {
        margin-bottom: 10px;
    }

    .navbar-nav .nav-item .nav-link, .buscador {
        font-size: 13px;
    }

    .buscador {
        margin-bottom: 10px;
    }

    .buscador input::placeholder {
        text-align: center;
        font-size: 13px;
    }

    /* carrusel */
    .carousel-item {
        min-height: 400px;
    }

    .carousel-item img {
        height: 400px;
    }

    .carousel-caption {
        bottom: 55px;
    }

    .carousel-caption h5 {
        font-size: 30px;
        margin-top: 0;
    }

    .carousel-caption p {
        width: 100%;
        font-size: 16px;
    }

    /* Xbox - PlayStation */
    .video-xbox, .video-playstation {
        padding: 20px 30px;
    }

    .games-xbox h2, .games-playstation h2 {
        text-align: center;
        font-size: 24px;
        text-decoration: underline;
    }

    .games-playstation h2 {
        line-height: 40px;
    }

    /* Tarjetas */
    .row {
        padding: 0 20px;
    }

    .row .card {
        height: 500px;
    }

    .card img {
        height: 300px;
    }

    /* footer */
    .div-containers {
        padding: 10px 0;
    }
}

@media (min-width: 768px) {
    /* nav */
    .navbar-nav .nav-item .nav-link, .buscador {
        font-size: 14px;
    }

    .navbar-collapse .buscador input::placeholder {
        font-size: 14px;
    }

    /* carrusel */
    .carousel-item img {
        height: 440px;
    }

    .carousel-caption {
        bottom: 85px;
    }

    .carousel-caption p {
        font-size: 18px;
    }

    /* Xbox - PlayStation */
    .video-xbox, .video-playstation {
        padding: 20px 40px;
    }

    .games-xbox h2, .games-playstation h2 {
        font-size: 26px;
    }

    /* Tarjetas */
    .row .card {
        padding: 10px;
    }

    .card img {
        height: 300px;
    }

    .card-title {
        font-size: 19px;
    }
    
    .card-text {
        font-size: 15px;
    }

    /* footer */
    .div-containers {
        padding: 10px 15px;
    }
}

@media (min-width: 992px) {
    /* nav */
    .navbar-nav .nav-item .nav-link {
        font-size: 11.5px;
        margin: 0 18px;
        padding: 8px 5px;
    }

    .buscador {
        font-size: 12.5px;
    }

    .navbar-collapse .buscador input::placeholder {
        font-size: 11px;
    }

    /* carrusel */
    .carousel-item img {
        height: 480px;
    }

    .carousel-caption {
        bottom: 100px;
    }

    .carousel-caption h5 {
        font-size: 35px;
    }

    .carousel-caption p {
        font-size: 20px;
    }

    .card-play {
        height: 450px;
    }

    /* Xbox - PlayStation */
    .video-xbox, .video-playstation {
        padding: 20px 50px;
    }

    .games-xbox h2, .games-playstation h2 {
        font-size: 27px;
        text-align: start;
        padding-left: 8px;
    }

    /* Tarjetas */
    .row {
        padding: 0;
    }

    .row .card {
        height: 720px;
        padding: 5px;
    }

    .card-title {
        font-size: 19px;
    }
    
    .card-text {
        font-size: 13.6px;
    }

    /* footer */
    .div-containers {
        padding: 10px 7px;
        font-size: 14px;
    }

    .contacto-container ul li p {
        margin-bottom: 40px;
    }

    .contacto-container .correo {
        font-size: 13px;
    }
}

@media (min-width: 1200px) {
    /* nav */
    .navbar-nav {
        padding: 0 40px;
    }

    .navbar-nav .nav-item .nav-link, .buscador {
        font-size: 14px;
    }

    .navbar-collapse .buscador input::placeholder {
        font-size: 14px;
    }

    /* carrusel */
    .carousel-item img {
        height: 520px;
    }

    .carousel-caption {
        bottom: 130px;
    }

    .carousel-caption h5 {
        font-size: 40px;
    }

    .carousel-caption p {
        font-size: 23px;
    }

    /* Xbox - PlayStation */
    .video-xbox, .video-playstation {
        padding: 20px 60px;
    }

    .games-xbox h2, .games-playstation h2 {
        font-size: 28.5px;
        padding-left: 25px;
    }

    /* Tarjetas */
    .row {
        padding: 10px 20px;
    }

    .row .card {
        height: 730px;
    }

    .card-title {
        font-size: 20px;
    }
    
    .card-text {
        font-size: 16px;
    }

    /* footer */
    .div-containers {
        padding: 0 15px;
        font-size: 16px;
    }

    .contacto-container ul li p {
        margin-bottom: 35px;
    }

    .contacto-container .correo {
        font-size: 15px;
    }
}

/* @media (min-width: 1400px) {
    
    .row .card {
        height: 700px;
    }
} */